* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(179, 179, 179);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Store_name_container {
  align-items: center;
  color: white;
  margin: 5px;
}
.Store_name{
  Color:white;
}

.serch_bar {
  border: none;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.serch_bar img {
  width: 20px;
  rotate: 315deg;
}

.serch_bar input {
  height: 30px;
  width: 500px;
  border: none;
  border-radius: 10px;
  margin: 1px;
}

.serch_bar input:focus {
  outline: none;
}

.user_container {
  display: flex;
  align-items: center;
}

.profile_btn {
  width: 35px;
  margin: 5px;
  cursor: pointer;
}

.basket_btn {
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.main_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.admin_container{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputs_container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputText_conteiner{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product_input{
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  max-height: 300px;
}

.submitBTN {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  margin-top: 40px;
}

.inputPhoto_conteiner{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.photo_input{
  margin: 10px;
}
