* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(179, 179, 179);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Store_name_container {
  align-items: center;
  color: white;
  margin: 5px;
}
.Store_name{
  Color:white;
}

.serch_bar {
  border: none;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.serch_bar img {
  width: 20px;
  rotate: 315deg;
}

.serch_bar input {
  height: 30px;
  width: 500px;
  border: none;
  border-radius: 10px;
  margin: 1px;
}

.serch_bar input:focus {
  outline: none;
}

.user_container {
  display: flex;
  align-items: center;
}

.profile_btn {
  width: 35px;
  margin: 5px;
  cursor: pointer;
}

.basket_btn {
  width: 30px;
  margin: 5px;
  cursor: pointer;
}


.main_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.basket_container {
  width: 80%;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product_icon{
  width: 200px;
  height: 220px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  box-sizing: border-box;
}
.product_image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a .product_icon {
  color: black;
}
.product_icon p{
  color: black;
}
