* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;;
  background-color: rgb(179, 179, 179);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Store_name_container {
  align-items: center;
  color: white;
  margin: 5px;
}
.Store_name{
  Color:white;
}

.serch_bar {
  border: none;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.serch_bar img {
  width: 20px;
  rotate: 315deg;
}

.serch_bar input {
  height: 30px;
  width: 500px;
  border: none;
  border-radius: 10px;
  margin: 1px;
}

.serch_bar input:focus {
  outline: none;
}

.user_container {
  display: flex;
  align-items: center;
}

.user_container a{
  &:hover {
    background-color: rgb(69, 69, 69);
    border-radius: 5px;
  }
}


.profile_btn {
  width: 35px;
  margin: 5px;
  cursor: pointer;
}

.basket_btn {
  width: 30px;
  margin: 8px;
  cursor: pointer;
}


.body-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.product-container {
  background-color: white;
  width: auto;
  margin: 0 30px 0 0;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 280px;
  border-radius: 5px;
}

.photos-container {
  width: 700px;
  margin-top: 20px;
}
.photos-container img {
  width: 230px;
  border-radius: 5px;
}

.main_and_photos-container {
  display: flex;
  flex-direction: column;
}

.info {
  margin-top: 20px;
  width: 700px;
}

.main {
  display: flex;
  gap: 20px;
}

.main-info h1 {
  font-size: 16px;
}



.buy-container {
  background-color: rgb(255, 230, 247);
  width: 400px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producName{
  font-size: 20px;
}

.price {
  font-size: 50px;
  color: black;
}

.availability {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.availability h1 {
  font-size: 15px;
}

.availability_mark {
  display: flex;
}

.buy-img {
  width: 20px;
}

.buy-btn {
  width: 300px;
  height: 60px;
  margin-top: 50px;
  border: none;
  background-color: rgb(122, 236, 117);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-btn h1 {
  color: white;
}
.buy-btn:hover {
  background-color: rgb(16, 218, 1);
}

.availability {
  display: flex;
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  background: rgb(43, 43, 43);
  font-family: Arial, sans-serif;
  height: 260px;
  margin-top: 270px;
}

.socials {
  display: flex;
  gap: 15px;
}

.socials a img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  gap: 25px;
  font-size: 16px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}


