* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Store_name_container {
  align-items: center;
  color: white;
  margin: 5px;
}
.Store_name{
  Color:white;
}


.serch_bar {
  border: none;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.serch_bar img {
  width: 20px;
  color: gray;
}

.serch_bar input {
  height: 30px;
  width: 500px;
  border: none;
  border-radius: 10px;
  margin: 1px;
}

.serch_bar input:focus {
  outline: none;
}

.user_btn {
  display: flex;
  align-items: center;
}

.profile_btn {
  width: 50px;
  margin: 5px;
}

.basket_btn {
  width: 35px;
  height: 35px;
  margin: 5px;
}


.body-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.product-container {
  background-color: white;
  width: auto;
  margin: 0 30px 0 0;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.product-img {
  width: 280px;
  height: 400px;
  border-radius: 5px;
}

.photos-container {
  width: 700px;
  margin-top: 20px;
}
.photos-container img {
  width: 230px;
  height: 130px;
  border-radius: 5px;
}

.main_and_photos-container {
  display: flex;
  flex-direction: column;
}

.info {
  margin-top: 20px;
  width: 700px;
}

.main {
  display: flex;
  gap: 20px;
}

.main-info h1 {
  font-size: 16px;
}



.buy-container {
  background-color: rgb(255, 230, 247);
  width: 400px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  font-size: 50px;
  color: black;
}

.availability {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.availability h1 {
  font-size: 15px;
}

.availability_mark {
  display: flex;
}

.buy-img {
  width: 20px;
}

.buy-btn {
  width: 300px;
  height: 60px;
  margin-top: 50px;
  border: none;
  background-color: rgb(122, 236, 117);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-btn h1 {
  color: white;
}
.buy-btn:hover {
  background-color: rgb(16, 218, 1);
}

.availability {
  display: flex;
}
