* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;;
  background-color: rgb(179, 179, 179);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Store_name_container {
  align-items: center;
  color: white;
  margin: 5px;
}
.Store_name{
  Color:white;
}

.serch_bar {
  border: none;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.serch_bar img {
  width: 20px;
  rotate: 315deg;
}

.serch_bar input {
  height: 30px;
  width: 500px;
  border: none;
  border-radius: 10px;
  margin: 1px;
}

.serch_bar input:focus {
  outline: none;
}

.user_container {
  display: flex;
  align-items: center;
}

.user_container a{
  &:hover {
    background-color: rgb(69, 69, 69);
    border-radius: 5px;
  }
}


.profile_btn {
  width: 35px;
  margin: 5px;
  cursor: pointer;
}

.basket_btn {
  width: 30px;
  margin: 8px;
  cursor: pointer;
}
.adminBTN {
  width: 100px;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sale-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.background_sale_container{
  width: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
}
.add_container{
  width: 10%;
}
.sale-bar {
  width: 45%;
  height: 400px;
  border-radius: 20px;
  background-color: #13e110;
}
.category_side_container {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 200px;
}

.category_navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.category_navigation a {
  margin: 5px;
  color: black;
  font-size: 15px;
}

.category_navigation a:hover {
  color: rgb(16, 218, 1);
}


.main_product_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter_container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.price_input{
  width: 20px;
  margin-right: 20px;
}
.range_input{
  width: 200px;
  margin-top: 20px;
}

.products{
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product_icon{
  width: 200px;
  height: 220px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  box-sizing: border-box;
}
.product_image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a .product_icon {
  color: black;
}
.product_icon p{
  color: black;
}
.product_icon img{
  width: 100%;
  height: 80%;
  border-radius: 10px;
}
.price_container{
  display: flex;
  justify-content: space-between;
}
.price_container img {
  width: 20px;
}


footer{
  width: 100%;
  background-color: rgb(43, 43, 43);
}
