* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  background-color: rgb(43, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Store_name_container {
  align-items: center;
  color: white;
  margin: 5px;
}
.Store_name{
  Color:white;
}

.serch_bar {
  border: none;
  background-color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin: 5px;
}

.serch_bar img {
  width: 20px;
  color: gray;
}

.serch_bar input {
  height: 30px;
  width: 500px;
  border: none;
  border-radius: 10px;
  margin: 1px;
}

.serch_bar input:focus {
  outline: none;
}

.user_btn {
  display: flex;
  align-items: center;
}

.profile_btn {
  width: 50px;
  margin: 5px;
}

.basket_btn {
  width: 35px;
  height: 35px;
  margin: 5px;
}


.sale-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sale-bar {
  width: 85%;
  height: 200px;
  border-radius: 20px;
  background-color: aqua;
}


.main_product_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.radius_product_container {
  width: 90%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.category_side_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 200px;
}

.category_navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.category_navigation a {
  margin: 5px;
  color: black;
  font-size: 15px;
}

.category_navigation a:hover {
  color: rgb(16, 218, 1);
}


.product_side_container {
  width: 70%;
  background-color: white;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.product_icon{
  width: 200px;
  height: 220px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
.product_icon p{
  color: black;
}
.product_icon img{
  width: 100%;
  height: 80%;
}
.price_container{
  display: flex;
  justify-content: space-between;
}
.price_container img {
  width: 20px;
}


footer{
  width: 100%;
  background-color: rgb(43, 43, 43);
}
